<ion-header>
  <div class="header-left-btn">
    <ion-back-button mode="ios" text="" icon="close"></ion-back-button>  
  </div>
  <ion-title class="align-center">add-items</ion-title>  
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">상품명*</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">상품설명*</ion-label>
    <ion-input></ion-input>
  </ion-item>


</ion-content>

<!-- 버튼 -->
<ion-buttons slot="bottom">
  <ion-button type="button" expand="full" (click)="back()">닫기</ion-button>
  <ion-button type="button" expand="full" class="submit-btn">등록하기</ion-button>
</ion-buttons>
